html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: white;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
table,td,th{
    border-collapse: collapse;
    text-align: center;
}

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: rgb(150, 146, 146) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

/* container */
#idx_top { width: 100%; height: 210px; background: url('배너사진.jpg') no-repeat 50% 50%;}